header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    
    
}

#heroVideo { 
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translate(-50%, -50%);  
}

header h1 {
    color: #ffb917;
    // margin: 2% 0 30% 0;
    margin-top: 15%;
    margin-bottom: 35vh;
    span {
        color: $turquoise;
    }
}

#submitIngredient {
    display: flex;
}

#myInput {
    width: 400px;
    height: 50px;
    background: $white;
    font-size: 18px;
}

#headerSearch {
    width: 150px;
    height: 50px;
    background: $turquoise;
    color: $white;
    font-size: 18px;
    padding: 0;
}

header .header-button {
    color: white;
    text-decoration: none;
    background: $yellow;
    padding: 10px 25px;
    font-size: 25px;
    transition: $transition;
    &:hover {
        background: $turquoise;
    }
}

header .button-container {
    margin-top: 5%;
}



// RESPONSIVE DESIGN


@media only screen and (max-width: 900px) {
    header h1 {
        font-size: 100px;
        margin-bottom: 45vh;
    }
    #submitIngredient {
        flex-direction: column;
        align-items: center;
    }
    
    #myInput {
        width: 350px;
        background: $white;
        font-size: 16px;
        margin-bottom: 3%;
    }
    
    #headerSearch {
        width: 150px;
        background: $turquoise;
        color: $white;
        font-size: 16px;
        padding: 0;
    }
}










