.wrapper {
   width: 90%;
   margin: 0 auto;
}

.hidden {
   display:none;
}  

main {
   background: $white;
   min-height: 100vh;
}

main .main-nav {
   background: $blue;
   position: sticky;
   top:-1px;
   z-index:10;
}

main .main-nav .wrapper {
   display:flex;
   flex-flow: row wrap;
   justify-content: flex-start;
   align-items: center;
   margin:0 auto;
   .logo {
       flex-grow: 1;
       text-align:right;

   }
}

h3.logo {
   color: $yellow;
   
   font-family: $primaryFont;
   display: inline-block;
   font-size: 25px;
   margin: 0;
   span {
       color: $turquoise;
   }
}

.searchSettings {
  margin: 0 auto;
  background: $blue;
  h3 {
      margin:0;
      padding: 10px 0;
  }
}


.advancedButton {
   padding: 11px 25px;
   // background: $red;
}

.hidden {
   display:none;
}  


#meals {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.mealContainer {
   width: 30%;
   text-align: center;
   margin-bottom: 20px;
   padding: 2% 2% 5% 2%;
   background: $grey;
   position:relative;
   z-index: 1;
   .recipeHeading {
       text-align: center;
       padding:20px 0;
       color: $turquoise;
       font-size: 20px;
       font-weight: bold;
       height: 15%;
   }
   img {
       width: 100%;
       height: 250px;
       object-fit: cover;
   }
   p {
       text-align: left;
       margin-left: 5%;
       color: $turquoise;
       font-size: 20px;
       font-weight: bold;
   }
   a.readMore {
       text-decoration: none;
       width: 170px;
       height: 50px;
       background: $yellow;
       color: $white;
       padding: 2% 5%;
       font-size: 18px;
       font-weight: bold;
       position:absolute;
       bottom:10px;
       left: 50%;
       transform: translateX(-50%);
       display: flex;
       align-items: center;
       justify-content: center;
       line-height:30px;
       transition:$transition;
       &:hover {
           background: lighten($color: $yellow, $amount: 15)
       }
   }
}

.mealContainer ul {
   list-style: none;
   margin: 0 0 5% 5%;
   padding: 0 0 20% 0;
   text-align: left;
   text-transform: capitalize;
   height: 20%;
   color: darken($grey, 30%);

}
//Styling advanced section

form input[type=checkbox],
form input[type=radio] {
    display:none;
}

.advancedSearch.allergy{
    padding-top: 5px;
}

.diet form {
    padding-bottom: 30px;
}
.advancedSearch h3 {
    color: $white;
    margin: 10px 0;
}
form label {
    background: $turquoise;
    color: white;
    padding:5px 5px;
    cursor: pointer;
    transition: $transition;
    margin-right:10px;
    &:hover {
        background: lighten($color: $turquoise, $amount: 15)
    }
}

label.active {
    background: $yellow;
    transition: $transition;
    &:hover {
        background: lighten($color: $yellow, $amount: 15)
    }
}

.advancedButton {
    background: $yellow;
    text-decoration: none;
    color: white;
    font-size:18px;
    padding: 14.5px 15px;
    transition: $transition;
    &:hover {
        background: lighten($color: $yellow, $amount: 15);
    }
    
}

.itemsRemaining {
    clear:both;
}

main ul.userIngredients {
    list-style-type: none;
    padding-left:0;
    padding: 5px 0;
    li {
        text-transform: capitalize;
        float:left;
        padding: 10px 15px;
        background: $yellow;
        color: $white;
        margin-right: 10px;
        cursor: pointer;
        transition:$transition;
        position:relative;
        &:hover {
            background: #a20c0c;
            &:after{
                content: "x";
                font-size: 10px;
                position:absolute;
                top:2px;
                right:2px;
            }
        }
    }

}




// RESPONSIVE DESIGN


@media only screen and (max-width: 1250px) {
    .mealContainer {
        width: 47%;
    }

}
@media only screen and (max-width: 930px){
    main .main-nav .wrapper {
        flex-direction: column;
    }
    .advancedButton {
        width: 190px;
    }
    .logo {
        padding: 20px 0;
    }
    main #headerSearch {
        display:none;
    }
    
}

@media only screen and (max-width: 825px) {
    .mealContainer {
        padding: 2% 2% 7% 2%;
   .recipeHeading {
       height: 15%;
       font-size: 18px;
   }
   img {
       height: 200px;
   }
   p {
       text-align: left;
       margin-left: 5%;
       color: $turquoise;
       font-size: 20px;
       font-weight: bold;
   }
   a.readMore {
       text-decoration: none;
       width: 170px;
       height: 50px;
       background: $yellow;
       color: $white;
       padding: 2% 5%;
       font-size: 18px;
       font-weight: bold;
       position:absolute;
   }
}
}

@media only screen and (max-width: 825px) {
    .mealContainer {
        width: 90%;
        padding: 2% 2% 20% 2%;
        background: darken($grey, 5%);
        
        
    }
}
