// font-family: 'Yeseva One', cursive;

// font-family: 'Roboto', sans-serif;

$primaryFont : 'Yeseva One', cursive;
$secondaryFont: 'Roboto', sans-serif;

$yellow: #ffb917;
$offWhite: #f8ffe5;
$white: #fdfffc;
$blue: #124e78;
$turquoise: #44bba4;
$grey: #f8f9fa;

body {
    font-family: $secondaryFont;
}


h1 {
    font-family: $primaryFont;
    font-size: 150px;
}

