//Color Palette

$blue: rgba(128, 161, 193, 1);
$red: rgba(186, 63, 29, 1);
$beige: rgba(238, 227, 171, 1);
$grey: rgba(217, 207, 193, 1);
$brown: rgba(167, 126, 88, 1);

//default trasition

$transition: .4s ease-in-out all;
